@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hoş Geldiniz</h1>
</div>

<div class="text-center">
    <p>Üye değilseniz <a href="/User/Create">üye olunuz</a> üyeliğiniz var ise <a href="/Login">üye girişi</a> yapınız</p>
</div>
